<div id="mydiv"  ng-show="loading" >
    <img src="/interop/img/loading.gif" class="ajax-loader"/>
</div>
<div>
<p class="subtitle"> Category<hr> </p>
<table>
<tr>
<td>Name:  </td><td><input type="text" size=32 maxlength=32 name="country" ng-model=$ctrl.category.name>
</td>
</tr>
<tr>
<td> Description:</td>
<td>
<textarea rows="4" cols="130" maxlength=512 ng-model = $ctrl.category.description>
</textarea>
 </td>
</tr>
</table>
<a style="" ng-click = "updateCategory()" class="icon icon-save" href="">Save</a>
<hr>
<table>
<tr>
<td style='width:250px;'>List of test cases <!-- a style="" ng-click = "testLog()" class="icon icon-save" href="">test log</a--!>
</td>
<td><a style="margin-left:20px" class="icon icon-add" href="#!/testNew/{{$ctrl.category.test_category_id}}">New test case</a>
</td>
</tr>
</table>

     <ul class="cas">
        <li     ng-repeat="cas in $ctrl.cas"
                class="listCas">
		<a href="#!/case/{{cas.test_header_case_id}}">{{cas.name}}</a> 
          <p> {{cas.id}}</p>
        </li>
      </ul>
      

</div>
