   <div role="navigation">
      <!--Body content-->
     <ul class="themes">
        <li 	ng-repeat="product in $root.components" 
		class="listTheme">
    <a ng-class="" href="#!/components/{{product.product_id}}">{{product.name}}</a>

	  <small ng-if="product.provider!=null"> by {{product.provider}}</small>
          <!-- a href="#!/products/{{product.product_id}}">{{product.name}}</a--!>
        </li>
      </ul>

      <!-- a style="" class="icon icon-add" href="#!/newProduct/">New solution</a --!>

    </div>
