   <div role="navigation">
      <!--Body content-->

  <ul class="themes">
  <li 	ng-repeat="ptype in $ctrl.componentType" 
		class="listTheme">
   {{ptype.labelCour}}

      <ul class="themes">
        <li 	ng-repeat="product in ptype.componentObject" 
		    class="listTheme">
      <a ng-class="" href="#!/components/{{product.product_id}}">{{product.name}}</a>

	    <small ng-if="product.provider!=null"> par {{product.provider}}</small>
     
     
        </li>
      </ul>
      
   </li>
   </ul> 
      <!-- a style="" class="icon icon-add" href="#!/newProduct/">New solution</a --!>

    </div>
