<p> Create a new test case from '{{$ctrl.category.name}}' category:</p>
<form name="myForm" ng-submit="$ctrl.save()" novalidate>

<table style='width:100%'>
<tr>
<td>Name:  </td><td><input style='width:300px' type="text" name="" ng-model=$ctrl.name>
</td>
</tr>
<!-- Vertical it -->
<tr valign='top'>
<td> Test type:</td>
<td style='width:100%'>
<input type="radio" name="groupTestType"   ng-model="$ctrl.test_type" value="0"> Horizontal test (between solutions)<br></input>
<input type="radio" name="groupTestType"  ng-model="$ctrl.test_type" value="1"> Vertical test (between components)<br></input>
<div ng-show="$ctrl.test_type==1">
<p style='margin-left:40px;margin-top:10px'>Chose wich type of components you want to test the interoperability:</p>
<label style='width:100%;margin-left:60px;font-weight: normal' ng-repeat="combi in $ctrl.authorizedVerticalTests">
<input style='' name="groupCombi" type="radio" ng-model="$ctrl.from_to_choice" ng-value="combi.from_value+':'+combi.to_value">from <span style='text-decoration: underline'>{{combi.from_label}}</span> components 
to <span style='text-decoration: underline'>{{combi.to_label}}</span> components</input>
</label>
</div>
 </td>
</tr>

<tr>
<td> Description:</td>
<td>
<textarea rows="4" cols="80" ng-model=$ctrl.description>

</textarea>
 </td>
</tr>

<tr>
<td> Expected results:</td>
<td>
<textarea rows="4" cols="80" ng-model=$ctrl.expected_result>
</textarea>
 </td>
</tr>
</table>

    <div ng-messages="myForm.nom.$error" ng-messages-include="erreurs.html"></div>
    <input type="submit" value="Create" />
</form>
    
